In [0]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = (
    SparkSession.builder.appName("Query Data")
    .config("spark.sql.catalogImplementation", "hive")
    .enableHiveSupport()
    .getOrCreate()
)


# Query Delta table
def query_delta_table() -> None:
    transformed_table = "ids706_data_engineering.default.grad_students_transformed"

    query = f"""
    SELECT 
        Major_code,
        Major,
        Major_category,
        Grad_total,
        Grad_employed,
        Grad_unemployed,
        Grad_unemployment_rate,
        Grad_share,
        Grad_premium,
        Employment_rate,
        Major_category_size
    FROM 
        {transformed_table}
    WHERE 
        Employment_rate IS NOT NULL
    ORDER BY 
        Employment_rate DESC
    LIMIT 10
    """
    result = spark.sql(query)
    result.show()
    print("SQL query executed successfully.")


# Execute query
query_delta_table()

+----------+--------------------+--------------------+----------+-------------+---------------+----------------------+----------+------------+------------------+-------------------+
|Major_code|               Major|      Major_category|Grad_total|Grad_employed|Grad_unemployed|Grad_unemployment_rate|Grad_share|Grad_premium|   Employment_rate|Major_category_size|
+----------+--------------------+--------------------+----------+-------------+---------------+----------------------+----------+------------+------------------+-------------------+
|      2407|COMPUTER ENGINEERING|         Engineering|     82102|        73147|           1592|           0.021300793|0.36755726|  0.19753087|0.8909283574090765|              Large|
|      4000|MULTI/INTERDISCIP...|   Interdisciplinary|     14405|        12708|            261|           0.020124912|0.25991014|        0.25|0.8821936827490454|              Large|
|      2404|BIOMEDICAL ENGINE...|         Engineering|     22155|        19474|            366|           0.018447582| 0.6418576|   0.2857143|0.8789889415481833|              Large|
|      1301|ENVIRONMENTAL SCI...|Biology & Life Sc...|     43612|        38068|           1392|            0.03527623|0.31576356|  0.23636363|0.8728790241218013|              Large|
|      3611|        NEUROSCIENCE|Biology & Life Sc...|     14429|        12551|            225|           0.017611146| 0.6735599|        0.45|0.8698454501351445|              Large|
|      4101|PHYSICAL FITNESS ...|Industrial Arts &...|    119489|       103790|           2696|           0.025317881|0.28696415|  0.33333334|0.8686155210939919|              Large|
|      2105|INFORMATION SCIENCES|Computers & Mathe...|     25799|        22403|           1179|           0.049995758|0.25832322|         0.2|0.8683669909686422|              Large|
|      2102|    COMPUTER SCIENCE|Computers & Mathe...|    324402|       281088|          10557|           0.036198117| 0.3048934|      0.1875|0.8664804779255368|              Large|
|      6109|TREATMENT THERAPY...|              Health|    142285|       123279|           2185|           0.017415354|0.37737677|  0.11111111|0.8664230242119689|              Large|
|      5001|ASTRONOMY AND AST...|   Physical Sciences|      6331|         5480|            112|           0.020028612| 0.6188661|  0.12941177|0.8655820565471489|              Small|
+----------+--------------------+--------------------+----------+-------------+---------------+----------------------+----------+------------+------------------+-------------------+

SQL query executed successfully.